* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #202022;
  color: #dfd9d9;
  font-family: 'Lato', sans-serif;
}

h1 {
  margin-left: 2%;
  font-size: 2em;
  font-weight: 800;
  letter-spacing: 1px;
  color: rgba(29, 175, 175, 0.9);
}

h2 {
  font-size: 2.5em;
}

a {
  text-decoration: none;
  color: #dfd9d9;
  font-weight: 700;
}

nav a {
  text-decoration: none;
  letter-spacing: 0.2em;
  color: #dfd9d9;
  font-weight: 700;
}

input {
  width: 100%;
  margin: 5%;
  font-size: 1em;
  padding: 6% 6%;
  background-color: #000000;
  border: 2px solid #000000;
  border-radius: 5px;
  color: #f2eded;
}

input:hover {
  border: 2px solid rgba(20, 138, 138, 0.9);
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

a:hover {
  transform: scale(1.1);
}

nav a:hover {
  color: rgba(20, 138, 138, 0.9);
}

#navbar {
  height: 10vh;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #171718;
  z-index: 1;
}

.navlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
}

.navlink-in {
  font-size: 1.1rem;
}

#auth-form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}

#auth-type {
  margin: 5%;
  font-size: 2em;
  font-weight: 700;
}

#auth-form {
  margin-top: 5%;
  width: 30%;
  display: flex;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#auth-button-container {
  margin: 5%;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#auth-button {
  background-color: rgba(20, 138, 138, 0.9);
  border: none;
  padding: 4%;
  border-radius: 5px;
  width: 55%;
  font-size: 1em;
  font-weight: 700;
}

#auth-button:hover {
  box-shadow: 0 0 30px rgba(20, 138, 138, 0.9);
}

.question {
  color: rgba(20, 138, 138, 0.9);
  margin-bottom: 2%;
}
#google {
  margin: 5%;
}

#portfolio-value {
  padding-top: 2%;
  padding-bottom: 2%;
  top: 10%;
  left: 5%;
  position: fixed;
  background-color: #202022;
  width: 100%;
  height: 5%;
  z-index: 1;
}

#symbol-buy-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#symbols-list {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  width: 50vw;
}
#symbol-list-headers {
  margin-top: 10%;
  padding: 2% 0%;
  display: flex;
  flex-direction: row;
  width: 50%;
  position: fixed;
  background-color: #202022;
}
.symbol-info-header {
  font-size: 1.5em;
  min-width: 20%;
}

.singleSymbol {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid black;
  margin: 5% 0;
}
.symbol-info {
  display: flex;
  font-size: 1.3em;
  min-width: 20%;
  align-items: center;
}

#sell-button {
  width: 30%;
  height: 40%;
  background-color: rgba(20, 138, 138, 0.9);
  border: none;
  padding: 4%;
}
#sell-button:enabled:hover {
  box-shadow: 0 0 30px rgba(20, 138, 138, 0.9);
}

input.symbol-info {
  width: 20%;
  height: 10%;
  font-size: 0.8em;
}

#portfolio-symbols {
  margin-top: 30%;
  width: 100%;
  height: 100%;
}

#nostocks {
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 10%;
}

#buy-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40vw;
  height: 100vh;
  position: fixed;
  left: 60%;
  top: 23%;
}

#stock-info {
  font-size: 1.2em;
  margin: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#buy-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 80%;
}

.buy-box-input {
  padding: 4%;
  font-size: 1.3em;
}

#buy-button-container {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#total {
  font-size: 1.2em;
  margin-bottom: 2%;
}

.buy-button {
  background-color: rgba(20, 138, 138, 0.9);
  border: none;
  border-radius: 5px;
  width: 60%;
  height: 100%;
  font-size: 1em;
  font-weight: 700;
}

.buy-button:enabled:hover {
  box-shadow: 0 0 30px rgba(20, 138, 138, 0.9);
}

#transaction-buybox {
  display: flex;
  flex-direction: row;
  padding-top: 10%;
  width: 100vw;
}
#transactions-container {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  width: 50vw;
}
#transaction-title {
  padding-top: 2%;
  padding-bottom: 2%;
  top: 10%;
  left: 5%;
  position: fixed;
  background-color: #202022;
  width: 100%;
  height: 5%;
  z-index: 1;
}
#transaction-headers {
  padding: 2% 0%;
  display: flex;
  flex-direction: row;
  width: 50%;
  position: fixed;
  background-color: #202022;
}
.transaction-info-head {
  font-size: 1.5em;
  width: 20%;
}

#symbol-list-headers {
  margin-top: 10%;
  padding: 2% 0%;
  display: flex;
  flex-direction: row;
  width: 50%;
  position: fixed;
  background-color: #202022;
}

#transaction-list {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 10%;
}

#singleTransaction {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  align-items: center;
  width: 42vw;
  height: 10vh;
}

.transaction-info {
  min-width: 20%;
  font-size: 1.2em;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #000000 inset;
  box-shadow: 0 0 0 100px #000000 inset;
  -webkit-text-fill-color: #dfd9d9;
}

.error {
  margin-bottom: 5%;
}

#preview-images {
  margin-top: 5%;
  width: 40%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  box-shadow: 0px 0px 10px rgba(20, 138, 138, 0.9);
  margin-top: 10%;
  width: 90%;
}

#market-status {
  text-align: right;
  margin-right: 2%;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 1em;
  width: 60%;
}

#profile-container {
  padding: 10%;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#profile-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 60%;
  font-size: 2em;
}

#deposit-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 20%;
}
