* {
  margin: 0;
  padding: 0;
}

#navbar {
  height: 10vh;
}

#auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

form {
  height: 50%;
  width: 50%;
  border-width: 0.2;
  border-style: solid;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form .inputContainer {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form .input {
  height: 40%;
  width: 70%;
}
#auth-container {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#auth-button {
  height: 70%;
  width: 50%;
}

.astext {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
