* {
  margin: 0;
  padding: 0;
}

#navbar {
  height: 10vh;
}

#auth-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#auth-form {
  height: 50%;
  width: 50%;
  border-width: 0.2;
  border-style: solid;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#auth-form .inputContainer {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#auth-form .input {
  height: 40%;
  width: 70%;
}
#auth-container {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#auth-button {
  height: 70%;
  width: 50%;
}

#symbol-buy-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#symbols-list {
  display: flex;
  flex-direction: column;
  width: 50%;
}
#symbol-list-headers {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.singleSymbol {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid black;
  margin: 10% 0;
}
.symbol-info {
  min-width: 20%;
}

#portfolio-symbols {
  width: 100%;
  height: 100%;
}

#vertical-line {
  border-left: 4px solid black;
  height: 80vh;
}

#buy-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 35vw;
  height: 40vh;
}

#stock-info {
  font-size: 1rem;
  margin: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#buy-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.buy-box-input {
  margin: 2%;
  height: 20%;
  width: 100%;
}

#transaction-buybox {
  display: flex;
  flex-direction: row;
  width: 100vw;
}
#transaction-headers {
  padding: 5% 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 42vw;
  border-bottom: 1px solid black;
}
#transactions-container {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  width: 50vw;
}
#transaction-list {
  display: flex;
  flex-direction: column-reverse;
}

#fixed-buybox {
  position: fixed;
  left: 60%;
  top: 30%;
}

#singleTransaction {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  align-items: center;
  width: 42vw;
  height: 10vh;
}

.transaction-info {
  min-width: 18%;
}
